# ================================
# Credenciales de GitHub (Config Server)
# ================================
GITHUB_URL=
GITHUB_USERNAME=
GITHUB_TOKEN=

# ================================
# URLs de servicios base
# ================================
CONFIG_SERVER_URL=http://config-server:8888
EUREKA_URL=http://eureka-server:8761/eureka

# ================================
# Base de datos - producto-service
# ================================
PRODUCTOS_DB_ROOT_PASSWORD=
PRODUCTOS_DB_USER=
PRODUCTOS_DB_PASSWORD=
PRODUCTOS_DB_NAME=
PRODUCTOS_DB_URL=jdbc:mysql://producto-db:3306/${PRODUCTOS_DB_NAME}?useSSL=false&serverTimezone=UTC

# ================================
# Base de datos - cliente-service
# ================================
CLIENTES_DB_ROOT_PASSWORD=
CLIENTES_DB_USER=
CLIENTES_DB_PASSWORD=
CLIENTES_DB_NAME=
CLIENTES_DB_URL=jdbc:mysql://cliente-db:3306/${CLIENTES_DB_NAME}?useSSL=false&serverTimezone=UTC

# ================================
# Base de datos - carrito-service
# ================================
CARRITOS_DB_ROOT_PASSWORD=
CARRITOS_DB_USER=
CARRITOS_DB_PASSWORD=
CARRITOS_DB_NAME=
CARRITOS_DB_URL=jdbc:mysql://carrito-db:3306/${CARRITOS_DB_NAME}?useSSL=false&serverTimezone=UTC

# ================================
# Base de datos - venta-service
# ================================
VENTAS_DB_ROOT_PASSWORD=
VENTAS_DB_USER=
VENTAS_DB_PASSWORD=
VENTAS_DB_NAME=
VENTAS_DB_URL=jdbc:mysql://venta-db:3306/${VENTAS_DB_NAME}?useSSL=false&serverTimezone=UTC